.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131324;
  background-image: url('../assets/LCPT.gif');
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Make the image cover the entire width and height */
  background-position: center; /* Center the image */
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.chat-header {
  font-size: 25px;
  padding: 10px;
  background-color: #0A0A13;
  background: linear-gradient(285deg, #131324, #0A0A13);
  border-bottom: 1px solid #333;
  color: white;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  padding-left: 20px;
}

.chat-header i {
  margin-right: 10px;
  font-size: 33px;
}

.start-conversation{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url('../assets/2iiH.gif'); */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Make the image cover the entire width and height */
  background-position: center; /* Center the image */
  cursor: pointer;
  text-align: center;

}
.conversation-main{
  /* border: 2px solid red; */
  background: rgba(255, 255, 255, 0.421);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45vh;
  height: 45vh;
  /* margin-top: -50px; */
  color: black;
  border-radius: 15px;
}
/* Initially hidden */
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s 1s; /* Fade-out with delay */
}

/* Visible state */
.visible {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out; /* Fade-in effect */
  background: rgba(255, 255, 255, 0.421);
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45vh;
  height: 45vh;
  color: black;
  border-radius: 15px;
}


.conversation-main img{
  /* border-bottom: 2px solid black; */
  border-radius: 15px;
}
.messages {
  flex: 1;
  display: flex;
  flex-direction: column; /* Remove column-reverse */
  padding: 15px;
  overflow-y: scroll;
  background-color: #1A1A2E;
  background-image: url('../assets/LCPT.gif');
  background: transparent;
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-size: cover; /* Make the image cover the entire width and height */
  background-position: center; /* Center the image */
  border-radius: 5px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  margin: 10px 0;
}

.sender {
  justify-content: flex-end;
}

.receiver {
  justify-content: flex-start;
}

.message-text {
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 75%;
  word-wrap: break-word;
  font-size: 18px;
}

.sender .message-text {
  background-color: #4e0eff99;
  /* text-align: right; */
  margin-left: auto;
}
.sender .message-text strong{
  text-align: right;
}
.sender .message-text p{
text-align: right;
}

.receiver .message-text {
  background-color: #2C2C3E;
  /* text-align: left; */
  margin-right: auto;
}

.receiver .message-text strong{
  text-align: left;
  width: auto;
}
.receiver .message-text p{
text-align: left;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #1A1A2E;
  border-top: 1px solid #333;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 50px;
  margin-right: 10px;
  font-size: 20px;
  background: black;
  color: white;
  padding-left: 20px;
  font-weight: 600;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4e0eff;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.input-container button:hover {
  background-color: #009e82;
}

.input-container .send{
  border-radius: 50%;
  /* border: 2px solid red; */
  padding: 10px;
  padding-right: 15px;
  padding-bottom: 9px;
}
.fa-paper-plane{
  font-size: 30px;
  /* transform: rotateZ(40deg); */
  padding: 2px;
}

@media (max-width: 768px){
  .chat-container{
    border: none;
  }
  .start-conversation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
  }
  .conversation-main{
    /* border: 2px solid red; */
    background: rgba(255, 255, 255, 0.421);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vh;
    height: 50vh;
    /* margin-top: -50px; */
    color: black;
    border-radius: 15px;
  }
  .conversation-main img{
    /* border-bottom: 2px solid black; */
    border-radius: 15px;
  }
  .chat-container{
  background-image: url('../assets/msphere.gif');
  }
  .messages{
  background: transparent;
  }
}