.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131324;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.chat-header {
  font-size: 25px;
  padding: 10px;
  background-color: #0A0A13;
  background: linear-gradient(285deg, #131324, #0A0A13);
  border-bottom: 1px solid #333;
  color: white;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  padding-left: 20px;
}

.chat-header i {
  margin-right: 10px;
  font-size: 33px;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column; /* Remove column-reverse */
  padding: 15px;
  overflow-y: scroll;
  background-color: #1A1A2E;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  margin: 10px 0;
}

.sender {
  justify-content: flex-end;
}

.receiver {
  justify-content: flex-start;
}

.message-text {
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 75%;
  word-wrap: break-word;
  font-size: 18px;
}

.sender .message-text {
  background-color: #4e0eff99;
  text-align: right;
  margin-left: auto;
}

.receiver .message-text {
  background-color: #2C2C3E;
  text-align: left;
  margin-right: auto;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #1A1A2E;
  border-top: 1px solid #333;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4e0eff;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.input-container button:hover {
  background-color: #009e82;
}

.input-container .send{
  border-radius: 50%;
  /* border: 2px solid red; */
  padding: 10px;
  padding-right: 15px;
  padding-bottom: 9px;
}
.fa-location-arrow{
  font-size: 30px;
  transform: rotateZ(40deg);
}